@import "tailwindcss";
@plugin "fluid-tailwindcss" {
  minViewport: 375;
  maxViewport: 1440;
  useRem: true;
  rootFontSize: 16;
  checkAccessibility: true;
}

@theme {
  --color-yellow: #F5FFB2;
  --color-pink: #FFC1D1;
  --color-purple: #BFA9FF;
  
  /* Custom border width */
  --border-width-3: 3px;
  
  /* Custom fonts - using CSS variables from next/font/local */
  --font-ufficio: var(--font-ufficio), monospace;
  --font-oldman: var(--font-oldman), sans-serif;
}

@layer 
base
 {
  *, *::before, *::after {
    
box-sizing
: border-box;
  }

  * {
    
margin
: 0;
    
padding
: 0;
    
box-sizing
: border-box;
  }

  html {
    
font-family
: sans-serif;
    /* color: #333; */
  }
}